html{
    background-color: lightblue;
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
}
input, button {
    display: block;
    width: 20rem;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: indigo;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    border: none;
}

input[type='submit'], table {
    margin-top: 1rem;
}

table {
    width: 40rem;
}