html{
    background-color: lightblue;
    color: indigo;
    font-family: Arial, Helvetica, sans-serif;
}
input, button {
    display: block;
    width: 20rem;
    box-sizing: border-box;
    background-color: whitesmoke;
    color: indigo;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    border: none;
}

button{
    background-color: cornsilk;
}

input:hover, button:hover{
    padding-bottom: 0.5em;
    border-bottom: 0.5em solid indigo;
}

input:active, button:active{
    padding-bottom: 0.5em;
    border-bottom: 0.5em solid indigo;
    padding-top: 0.5em;
    border-top: 0.5em solid indigo;
}

input[type='submit'], table {
    margin-top: 1rem;
}

table {
    width: 40rem;
}